<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="CaminhoArquivos" value="C:\Users\joaov\OneDrive\Desktop\db\"/>
		<!--add key="SqlConnection" value="Integrated Security=SSPI;Persist Security Info=False;User ID=DESKTOP-UD4S06Q\joaov;Initial Catalog=TresCamadas;Data Source=DESKTOP-UD4S06Q\SQLEXPRESS;"/-->
		<add key="SqlConnection" value="Server=DESKTOP-UD4S06Q\SQLEXPRESS;Database=TresCamadas;Trusted_Connection=True;"/>
	</appSettings>
</configuration>